
<div class="image">
  <img src="{{oneActivity.image}}" alt="{{oneActivity.name}}" />
</div>

<div class="content">
  <div class="name">
    <h2>{{oneActivity.name}}</h2>
    <p>{{oneActivity.location}}</p>
    
    <div class="price-range">
      <p id="price">{{oneActivity.price}}</p>
      <span id="bold-span"></span>
      <span id="light-span"></span>
    </div>
    
    <a href="{{oneActivity.url}}" target="_blank">Link to website</a></span>
  </div>

  <div class="description">
    <p>{{oneActivity.description}}</p>
  </div>

  <div class="tags">
    {{#each oneActivity.tags}}
    <span>{{this}}</span>
    {{/each}}
  </div>

  <p id="activity-id">{{oneActivity._id}}</p>

  <div class="button">

    <button id='partners' type ="button">Find a partner &nbsp; &nbsp;

        <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.25923 11.2102L6.23651 10.1989L9.78764 6.64773H0.867188V5.17045H9.78764L6.23651 1.625L7.25923 0.607954L12.5604 5.90909L7.25923 11.2102Z" fill="white"/>
</svg>
</button>
  </div>

</div>