<div id="requests-received">

    <h2>Hang out requests</h2>

    <p id="description">Other users want to hang out with you! Choose
        whether you want to keep the conversation going or discard their request.</p>



    <div id='empty-message'>
        <p>You don't have any requests yet.</p>
        <div id='find-activities'>
            <a href="/activities">Find activities</a>
        </div>
    </div>


    {{#each allMatches}}

    <div class="request-card">

        <div id="image">
            <img src="{{this.activity.image}}" alt="{{this.activity.name}} image" />
        </div>

        <div id="card-bottom-container">
            <img src="{{this.sender.profilePicture}}" alt="{{this.sender.name}} image" />

        <div id="card-info">

            <p id="title">{{this.activity.name}}</p>
            <p id="card-id">{{this._id}}</p>
            <p id="bio">With {{this.sender.name}}</p>

            <div id="tags">
                <span>{{this.activity.tags.[0]}}</span>
                <span>{{this.activity.tags.[1]}}</span>
            </div>

        </div>
        </div>

    </div>

    {{/each}}



</div>