<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg" href="/images/logos/favicon.svg">

  {{! Axios scripts, only link if we use axios }}
  {{!
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script> }}
  {{!
  <script type="text/javascript" src="/scripts/APIHandler.js"></script> }}

  {{! general script that applies to all pages }}
  <script type="module" src="/scripts/index.js"></script>

  {{! page-specific script, to link in routes }}
  {{#if scriptName}}
  <script type="module" src="/scripts/{{scriptName}}.js"></script>
  {{/if}}

  {{! general css file }}
  <link rel="stylesheet" type="text/css" href="/styles/main.css" />

  {{! page-specific css, to link in routes }}
  {{#if styleName}}
  <link rel="stylesheet" type="text/css" href="/styles/{{styleName}}.css" />
  {{/if}}

  {{! page-specific title name, to link in routes }}
  {{#if titleName}}
  <title>{{titleName}}</title>
  {{else}}
  <title>Partnerz</title>
  {{/if}}

</head>



<body>

  <div id="overwrapper">

    <div id="left-description">
      <p>Coded with passion</p>
      <p>by <a href="https://github.com/olxmpe">@olxmpe</a>, <a href="https://github.com/samsinz">@sam.sinz</a>, and <a href="https://github.com/jsarzi">@jsarzi</a></p>
   
    </div>


    <div id="wrapper">

      <div id="phone-wrapper">

      </div>


      <div id="screen">

        <header>

          <div id="logo-nav">
          </div>


          {{! isLoggedIn variable initiated in middleware function explorUserToView}}
          {{#if isLoggedIn}}

          <div class="right">
            <ul class="list-unstyled">
              <li><a id='rose' href="/activities">Activities</a></li>

              <li><a href="/requests/requests-received">Hang out requests</a></li>
              <li> <a href="/discussions">Messages</a></li>
              <hr />
              <li><a href="/profile">My account</a></li>
              <hr />
              <li><a href="/auth/logout"><b>Log out</b></a></li>
            </ul>
          </div>
          {{else}}
          <div class="right">
            <ul class="list-unstyled">
              <li> <a href="/auth/signup">Sign up</a></li>
              <li><a href="/auth/login">Log in</a></li>
            </ul>
          </div>
          {{/if}}

          <div id="burger">
            <span></span>
            <span></span>
            <span></span>
          </div>

        </header>

        {{{body}}}

        {{! currentUser variable initiated in middleware function explorUserToView}}
      </div>

    </div>

    <div id="right-description">
      <p>Partnerz is a full stack app, developped in four days as part of the Ironhack bootcamp.</p>
      <p>Technical specifications</p>
      <p>Partnerz is coded using handlebars.js, Express and Mongoose. It implements CRUD database operations, using
        encrypted passwords and protected routes.</p>
      <div id="repo-link">GitHub repo &nbsp; &nbsp; <svg width="13" height="12"
            viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.25923 11.2102L6.23651 10.1989L9.78764 6.64773H0.867188V5.17045H9.78764L6.23651 1.625L7.25923 0.607954L12.5604 5.90909L7.25923 11.2102Z"
              fill="white"></path>
          </svg></div>
    </div>
  </div>

</body>

</html>