<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Axios scripts, only link if we use axios }}
    {{! <script src="https://unpkg.com/axios/dist/axios.min.js"></script> }}
    {{! <script type="text/javascript" src="/scripts/APIHandler.js"></script> }}

    {{! general script that applies to all pages }}
    <script type="text/javascript" src="/scripts/index.js"></script>

    {{! page-specific script, to link in routes }}
    {{#if scriptName}}
      <script type="text/javascript" src="/scripts/{{scriptName}}.js"></script>
    {{/if}}

    {{! general css file }}
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />

    {{! page-specific css, to link in routes }}
    {{#if styleName}}
      <link rel="stylesheet" type="text/css" href="/styles/{{styleName}}.css" />
    {{/if}}

    {{! page-specific title name, to link in routes }}
    {{#if titleName}}
      <title>{{titleName}}</title>
    {{else}}
      <title>Partnerz</title>
    {{/if}}

  </head>

  <body>

    <header>

      <div id="logo-nav">
      </div>
      <div id="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      {{! isLoggedIn variable initiated in middleware function explorUserToView}}
      {{#if isLoggedIn}}

        <div class="right">
          <ul class="list-unstyled">
            <li><a href="/requests/requests-received">Hang out requests</a></li>
            <li> <a href="/discussions">Messages</a></li>
            <hr />
            <li><a href="/profile">My account</a></li>
            <hr />
            <li><a href="/auth/logout"><b>Log out</b></a></li>
          </ul>
        </div>
      {{else}}
        <div class="right">
          <ul class="list-unstyled">
            <li> <a href="/auth/signup">Sign up</a></li>
            <li><a href="/auth/login">Log in</a></li>
          </ul>
        </div>
      {{/if}}

    </header>

    {{{body}}}

    {{! currentUser variable initiated in middleware function explorUserToView}}

  </body>
</html>