<div class="discussions">

<h2>Your conversations</h2>

<hr id="top">

{{#each allMatches}}



  {{!-- <p><a href="/discussions/{{this.discussion._id}}">Conversation with
      {{this.partner}}</a></p> --}}
      <div class="conversation"> 
              <img src="{{this.sender.profilePicture}}">
          <div class="details"> 
              <p class="name">{{this.sender.name}}</p>
              <p id="conv">{{this.discussion.messages.[0].content}}</p>


 
          </div>

       

      </div>  
     
      <hr class="separator">
 
      
  
{{/each}}

</div>