<div class="discussions">

    <h2>Your conversations</h2>

    <hr id="top">

    <div id='empty-message'>
        <p>You don't have any conversations yet.</p>
        <div id='find-activities'>
            <a href="/activities">Find activities</a>
        </div>
    </div>


    {{#each allMatches}}



    {{!-- <p><a href="/discussions/{{this.discussion._id}}">Conversation with
            {{this.partner}}</a></p> --}}
    <div class="conversation">
        <img src="{{this.partner.profilePicture}}">
        <div class="details">
            <p class="name">{{this.partner.name}}</p>
            <p id="conv">{{this.lastMessage}}</p>

            <p id="id">{{this.discussion._id}}</p>



        </div>



    </div>

    <hr class="separator">



    {{/each}}

</div>